[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date
